<unity>
  <typeAliases>
    <typeAlias alias="string" type="System.String, mscorlib" />
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="perRequest" type="MileageStats.Web.UnityExtensions.UnityHttpContextPerRequestLifetimeManager, MileageStats.Web" />
  </typeAliases>
  <containers>
    <container name="container">
      <types>
        <type type="MileageStats.Domain.Contracts.ICountryServices, MileageStats.Domain" mapTo="MileageStats.Domain.CountryServices, MileageStats.Domain">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Domain.Contracts.IUserServices, MileageStats.Domain" mapTo="MileageStats.Domain.UserServices, MileageStats.Domain">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Domain.Contracts.IChartDataService, MileageStats.Domain" mapTo="MileageStats.Domain.ChartDataService, MileageStats.Domain">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Data.IUnitOfWork, MileageStats.Data" mapTo="MileageStats.Data.SqlCe.MileageStatsDbContext, MileageStats.Data.SqlCe">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Data.IRepositoryInitializer, MileageStats.Data" mapTo="MileageStats.Data.SqlCe.RepositoryInitializer, MileageStats.Data.SqlCe">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Data.IUserRepository, MileageStats.Data" mapTo="MileageStats.Data.SqlCe.Repositories.UserRepository, MileageStats.Data.SqlCe">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Data.ICountryRepository, MileageStats.Data" mapTo="MileageStats.Data.SqlCe.Repositories.CountryRepository, MileageStats.Data.SqlCe">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Data.IVehicleRepository, MileageStats.Data" mapTo="MileageStats.Data.SqlCe.Repositories.VehicleRepository, MileageStats.Data.SqlCe">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Data.IFillupRepository, MileageStats.Data" mapTo="MileageStats.Data.SqlCe.Repositories.FillupRepository, MileageStats.Data.SqlCe">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Data.IReminderRepository, MileageStats.Data" mapTo="MileageStats.Data.SqlCe.Repositories.ReminderRepository, MileageStats.Data.SqlCe">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Data.IVehiclePhotoRepository, MileageStats.Data" mapTo="MileageStats.Data.SqlCe.Repositories.VehiclePhotoRepository, MileageStats.Data.SqlCe">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Data.IVehicleManufacturerRepository, MileageStats.Data" mapTo="MileageStats.Data.SqlCe.Repositories.VehicleManufacturerRepository, MileageStats.Data.SqlCe">
          <lifetime type="perRequest" />
        </type>
        <!-- NOTE: This is a real openId authentication mechanism -->
        <type type="MileageStats.Web.Authentication.IOpenIdRelyingParty, MileageStats.Web" mapTo="MileageStats.Web.Authentication.DefaultOpenIdRelyingParty, MileageStats.Web">
          <lifetime type="perRequest" />
        </type>
        <type type="MileageStats.Web.Authentication.IFormsAuthentication, MileageStats.Web" mapTo="MileageStats.Web.Authentication.DefaultFormsAuthentication, MileageStats.Web">
          <lifetime type="perRequest" />
        </type>
      </types>
    </container>
  </containers>
</unity>

