<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IClienteService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12345/Api/LGroup" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IClienteService" contract="ProxyLGroup.IClienteService"
                name="WSHttpBinding_IClienteService">
                <identity>
                    <userPrincipalName value="LGROUP05\Aluno" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>